body{
    background-image: url("https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project_1folder/cssProject1/background.jpg");
}

.container{
    background-color: gray;
    /* height: 100px; */
    width: 70%;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.heading-text{
    color: white;
    font-size: 50px;
    text-align: center;
}

.animal-img{
    padding: 15px;
    border-radius: 30px;
    opacity: 0.8;
}
.animal-img:hover{
    opacity: 1;
    transition: opacity 1s ease-out;
    transform: scale(1.1);
}